.Navbar {
    width: 100%;
    animation: fadeIn 1000ms;
    height: 50px;
}

.NavItems {
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

.Navbar a {
    text-decoration: none;
    color: inherit;
}

.SettingsIcon {
    position: absolute;
    right: 5px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
