.Navbar {
    animation: fadeIn 1000ms;
    background-color: rgba(255, 153, 0, 0.541);
    position: fixed;
    width: 100%;
}

.NavItems {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.Navbar a {
    text-decoration: none;
}

.SettingsIcon {
    position: absolute;
    right: 5px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
