.Navbar {
    text-align: center;
    animation: fadeIn 1000ms;
    display: flex;
    background-color: rgba(255, 153, 0, 0.541);
    justify-content: space-evenly;
}

.Navbar a {
    text-decoration: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}